.Cockpit {
    text-align: center;
}

.Cockpit-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.Cockpit-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.Cockpit-title {
    font-size: 1.5em;
}

.Cockpit-intro {
    font-size: large;
}
/**/
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Cockpit button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}
.Cockpit button:hover {
    background-color: lightgreen;
}
.Cockpit button.Red {
    background-color: red;
}
.Cockpit button.Red:hover {
    background-color: salmon;
}